<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Vjs" providerName="System.Data.SqlClient" connectionString="Data Source=HOME-PC;Initial Catalog=Vjs;Integrated Security=True;" />
    <add name="Twister" providerName="System.Data.SqlClient" connectionString="Data Source=HOME-PC;Initial Catalog=Twister;Integrated Security=True;" />
  </connectionStrings>
</configuration>